[2020-10-02 16:18] JPTIZ opened #1 "[Basic React skills needed] Add starting docs"
Although we know it is a React project, it would be nice to add some instructions of how to properly run and serve the website locally so anyone wanting to contribute could have an easy entry-point for testing.

[2020-10-03 08:44] ikayz commented on #1
@JPTIZ Should I add them or wait for a contributor?

[2020-10-03 16:36] JPTIZ commented on #1
I think you can add them if you want :)

[2020-10-03 16:37] JPTIZ commented on #1
Oh, actually #2 seems to address this issue

[2020-10-07 12:28] JPTIZ commented on #1
Closed by https://github.com/codeisscience/codecompliance-frontend/commit/46c72d053c7e86d3830df549e8d5249e7fee8c93

[2020-10-07 12:28] #1 closed

[2020-10-11 20:10] ikayz opened #3 "Add Tailwind CSS as a framework for frontend"
Add Tailwind CSS as a dependency to the project and test if it's working using simple components such as buttons or form fields.

[2020-10-12 20:08] silenteyesoncode commented on #3
wanna work on it

[2020-10-14 16:30] JPTIZ commented on #3
Does #4 close this issue?

[2020-10-14 18:49] ikayz commented on #3
@JPTIZ Yes, @joneskj55 worked on this issue

[2020-10-14 19:10] #3 closed

[2020-10-16 01:41] JPTIZ opened #5 "Yarn complains about package-lock.json existing"
I've run `yarn install` in order to install dependencies, and in the first lines of yarn logs:

[code]

Focusing on "Your project contains lock files generated by tools other than Yarn", maybe it is because of a previous manual npm run?

[2020-10-16 01:44] JPTIZ opened #6 "Clarify docs: `yarn start` doesn't work on just-cloned repo"
I cloned the repo for the first time in my Linux installation and got this when running `yarn start`:

[code]

In the last warning, it says "did you mean to install?", so I went for `yarn install` (instead of `yarn start`) and it seemed to work:

[code]

Maybe `yarn start` must be done _after_ `yarn install`?

[2020-10-16 13:17] yochannah commented on #6
Nicely spotted, @JPTIZ !

Maybe we should have a "getting started" section in the readme - e.g.

1. Install npm via nvm, install yarn
2. run yarn install
3. .....

[2020-10-16 13:28] yochannah commented on #5
note - try npm install. if this works, we should update the docs to say start with npm install

[2020-10-16 13:30] yochannah opened #7 "link to personas"
add personas link here so we can refer to it - maybe in the readme

[2020-10-16 13:37] yochannah opened #8 "Mock up UI for front end - journal submission"
Goal: set up a UI to allow people to submit data - currently we have this form: https://docs.google.com/forms/d/e/1FAIpQLScckKkSwH1nW22G8u0_GMRKk1KAV7SQGxaRsH6ysLecS9EHFQ/viewform

feel free to use wireframing software or a pen and paper sketch to get this done.

[2020-10-16 13:39] yochannah opened #9 "Mock up the journal list page [ux/ui task]"
We need a nice way to display and filter data like in this form:
https://docs.google.com/spreadsheets/d/1oY5ak7VJa-qwJJeWA3829S-1akZaYtHuWPYpChBdW2o/edit#gid=1191947390

See also #8

[2020-10-16 17:57] pooja-gera commented on #9
Hi, if I understand correctly, you need a UI where the details in the spreadsheet are displayed on a webpage/mobile application?

[2020-10-17 11:35] yochannah commented on #9
Correct! No need to worry about the implementation of getting the data -
that's still in development - just they way it would look, plus the ability
to filter down by different values in the columns :)

On Fri, 16 Oct 2020, 18:57 pooja-gera, <notifications@github.com> wrote:

[2020-12-05 13:22] yochannah commented on #8
@ikayz might look at this if/when free

[2021-04-06 03:56] td-heisenbug commented on #8
[CIS.zip](https://github.com/codeisscience/codecompliance-frontend/files/6261972/CIS.zip)

[2021-04-09 16:53] yochannah commented on #8
@td-heisenbug wow, this is really pretty! Did you use a CSS framework at all?

I know @ikayz has some mockups he's been working on too.

[2021-04-09 17:35] td-heisenbug commented on #8
Thank You.
Yea I modified one a bit to suit better.

[2021-04-09 22:31] JPTIZ commented on #8
That looks very interesting indeed :) My only issue is that the submit button gets too flashy when you hover it (see the video below). I would prefer something more subtle, just something slightly brighter than the unhovered button color.

https://user-images.githubusercontent.com/11988816/114245813-924af800-9967-11eb-8f36-4604bf000be8.mp4

Besides that, would be good indeed to align with @ikayz's

[2021-04-10 02:41] td-heisenbug commented on #8
@JPTIZ

Thank You. Yes I could make the button a bit more subtle. I will keep in mind.

Sorry for the inconvenience. I will make sure to follow these while contributing next time.

[2021-06-10 07:52] CIPHERTron opened #12 "[docs]: Beautify repo and add Code of conduct and contributing policy"

[2021-06-10 08:02] #12 closed

[2021-06-11 11:15] yochannah opened #13 "Add yarn install docs to readme"
just link to it and tell people how to install dependencies :)

[2021-06-14 20:16] ikayz opened #14 "Review Journal design"
The journal table needs to be reviewed

[2021-06-14 20:46] ikayz opened #15 "Include all of the manifesto text"
All the manifesto text needs to be added

[2021-06-14 21:14] ikayz opened #16 "Install codacy to repo"
Codacy needs to be installed in the repo, more on [Codacy](https://www.codacy.com/)

[2021-06-17 16:05] yochannah commented on #13
This was fixed by #11

[2021-06-17 16:05] #13 closed

[2021-06-22 11:35] yochannah commented on #5
quick check in - @ikayz is this all fixed now?

[2021-06-22 16:09] JPTIZ commented on #5
Since there's still both `package-lock.json` and `yarn.lock`, yarn would still complain about the other lock file. My suggestion is to stick with one package manager only in a project (either npm or yarn), unless we keep a strategy to confirm we support both at each release.

[2021-06-22 16:10] JPTIZ commented on #6
Resolved by https://github.com/codeisscience/journal-policy-tracker-frontend/commit/244ab8f519e2e6f392217f170299a1dfe332b8a5.

[2021-06-22 16:10] #6 closed

[2021-06-22 16:25] ikayz commented on #5
@yochannah yes. I removed the existing package-lock and ran npm install instead to fix the issue. It's fixed in the commit I'll push today. @JPTIZ true, I've gone that route

[2021-06-22 20:36] JPTIZ commented on #5
Closed by #17 :)

[2021-06-22 20:36] #5 closed

[2021-06-25 11:10] yochannah commented on #7
@ikayz let's add these :)

[2021-06-25 11:10] #8 closed

[2021-06-25 11:10] #9 closed

[2021-06-25 11:13] yochannah opened #19 "Add website preview"
This could be Netlify or the other one that @CIPHERTron  suggested... what was that again?

[2021-06-25 11:20] CIPHERTron commented on #19
@yochannah , It was Feature Peek but there's a bad news. Netlify acquired Featurepeek and it kinda removed its existence completely XD
Previously, it was at https://featurepeek.com/ but now, its redirecting to https://netlify.com
But no worries, netlify's preview is also great and easy to configure or you can say, it requires 0 configuration.

[2021-06-25 11:27] yochannah commented on #19
ah lol - everything comes down to Netlify in the end 😂

[2021-06-25 11:29] yochannah commented on #14
Looks good for now. Later we'll need to match the specific table columns output by the backend, but that doesn't matter too much for the sake of the mock 👍  nice one!

[2021-06-25 11:29] #14 closed

[2021-07-15 13:30] yochannah commented on #19
this is live at https://journal-policy-tracker.netlify.app/

[2021-07-15 13:30] #19 closed

[2021-07-15 13:34] yochannah opened #21 "update favicon and page title"
right now it's default React boilerplate:
<img width="83" alt="react icon and the word 'react'" src="https://user-images.githubusercontent.com/9271438/125796835-4337a61b-b984-4fcf-9b54-2c6bf5fdb783.png">

[2021-07-16 11:15] yochannah opened #22 "Overlapping content at certain breakpoint areas"
Possibly related to two 6-size grids. May need to be converted to a 12-size grid at this breakpoint.

@CIPHERTron Has some suggestions for breakpoint guidelines.

[2021-07-20 20:43] ikayz commented on #7
Personas have been added to assets folder

[2021-07-20 21:37] ikayz commented on #21
The page title and favicon have been updated, changes in PR.

[2021-07-27 07:05] ikayz commented on #21
@yochannah this issue has been fixed

[2021-07-27 07:05] ikayz commented on #22
@yochannah this issue was fixed

[2021-07-27 16:01] ikayz commented on #7
@yochannah this has also been fixed

[2021-07-28 11:14] yochannah commented on #7
this was in PR #23

[2021-07-28 11:14] #7 closed

[2021-07-30 09:00] #21 closed

[2021-07-30 11:21] yochannah opened #27 "Routing should work for direct page links"
e.g. on the netlify preview, I have to remove contact for this link to work:

https://deploy-preview-26--journal-policy-tracker.netlify.app/contact

[2021-08-01 12:15] afzal442 commented on #27
hello Yo, can I work on this?

[2021-08-01 18:12] ikayz commented on #27
@afzal442 you can work on this

[2021-08-02 08:58] yochannah commented on #27
Thanks Afzal - once you're ready please make a PR or let us know if you have any Qs!

[2021-08-02 13:26] afzal442 commented on #27
that's gr8. So what I understood is we have to remove the `contact` route from the navbar. Else, could you be more explicit on this?

Thanks.

[2021-08-02 17:06] yochannah commented on #27
@afzal442 not quite - basically, right now the routing works when you click on the links in the site, but if you copy/paste a link that has a path (e.g. /contact), we get a "page not found" error. So the goal is to make sure that even if we have a link to a specific page, that the links work and takeyou to the correct page.

[2021-08-02 18:05] afzal442 commented on #27
Thanks @yochannah!

On my local machine, it works properly. But I tried to figure out its solution to this issue.

I have added `<Redirect to="/" />` to ` index.js`. Maybe this can fix the link issue else, we have to look upon some other options. To test it on `netlify.app` deployment I have to make a PR for this.

[2021-08-03 07:49] afzal442 opened #29 "[Footer section] slack logo broken"
Currently at footer section, slack logo is broken

[2021-08-03 13:08] ikayz opened #31 "Centre the Navigation links and add search bar"
The navigation links should be in the centre and a search bar added. See screenshot
![image](https://user-images.githubusercontent.com/31007212/128018295-99d4cd13-4747-4183-8057-c9ba79a71d19.png)

[2021-08-04 13:36] #29 closed

[2021-08-06 11:11] ikayz opened #33 "User management dashboard"
Create a user management dashboard

[2021-08-06 11:25] #27 closed

[2021-08-06 11:25] ikayz opened #34 "Processing mark down"
Add markdown processing for the blog.

[2021-08-06 11:27] yochannah commented on #27
fixed by #28

[2021-08-28 14:11] ikayz opened #37 "User routing - Login"
Routing users to Login after sign up

[2021-08-28 14:12] ikayz opened #38 "Edit journals"
Component for editing journals when a user is logged in

[2021-08-28 14:12] ikayz opened #39 "Listing or read journals from DB"
Pulling all the submitted journals from the database

[2021-09-26 19:00] padmajabhol commented on #31
interested!

[2021-09-26 19:07] padmajabhol commented on #31
Can I work on this issue?

[2021-09-28 20:40] ikayz commented on #31
@padmajabhol you can add the navigation search the links have been centred.

[2021-10-12 14:51] joneskj55 commented on #15
@ikayz Where would you like this to be added? I see that in the footer there is a link to the manifesto. Did you want it in another location?

[2021-10-23 07:24] padmajabhol opened #43 "Setup ES-Lint and Prettier for the project"
This will help us to maintain standard coding conventions throughout the project.

[2021-10-25 20:42] CIPHERTron opened #44 "[REFACTOR] Arrange files into a structured directory system"
As of now, we don't have a specific file structure. It would be more organized if we could just structure the directories. For instance, we could group the files into:
- styles [will contain all the styles]
- components [will contain all UI components]
- screens [will contain all the pages]
- utils [will contain all the helper functions or custom hooks]
- static [will contain all the static assets

[2021-10-31 18:26] CIPHERTron commented on #43
Heyy @ShreyaPrasad1209 first of all, I appreciate your contributions. Thank you for that but I'm afraid I can't review your PR since it was already assigned to @padmajabhol and she was already working on it.

Generally, we prefer to leave issues to the assignee unless it's obviously been a long time since they last worked on it.

Would you mind picking up any other issue? Thanks again for your con

[2021-11-01 08:13] ShreyaPrasad1209 commented on #43
@CIPHERTron thank you for getting back! I opened a PR before the assignee and I have spent considerable time on it if you take a look at it. It would be great if you could at least look over, it would motivate me to contribute more to this project 😊

[2021-11-01 20:02] CIPHERTron commented on #43
Sure thing. Let me just check if @padmajabhol is okay with it.

Also, since you both have worked on the same issue, it would be great if @padmajabhol could review PR #45 🙂

[2021-11-02 17:49] padmajabhol commented on #43
Yeah sure, since she sent a PR before I did, it's absolutely okay. You can review it as well. I ll be looking out for more issues in the future 😄

[2021-12-08 15:32] parth270 commented on #43
Hello everyone!!
I am Parth and I am contributing to an open source project for the first time,
can anyone tell  me how can I work on this issue, it would be great to get some help 😇😇

[2021-12-08 15:43] parth270 commented on #37
do I have to just route to login ??
that is a pretty easy task

[2021-12-10 07:14] ikayz commented on #37
@parth270 Yes, pretty much that

[2022-01-27 04:14] roshanchatei commented on #43
@yochannah  I have made a PR to fix this issue, can you check it?

[2022-01-27 10:14] roshanchatei commented on #37
So, I just did that
we need the backend to to check for successful signup

[2022-01-27 10:20] ikayz commented on #37
Actually the issue needs to be updated as we had discovered issues when signing up.

[2022-01-27 10:20] ikayz commented on #37
@parth270 did you ever attempt this issue?

[2022-01-27 10:25] roshanchatei opened #51 "Footer"
For larger screen sizes the footer is not at the bottom
![Code is Science - Brave 1_27_2022 3_50_42 PM](https://user-images.githubusercontent.com/83601217/151340465-39e73506-5de8-4dca-b547-847e947d886b.png)
.

[2022-01-27 10:29] roshanchatei opened #52 "NavBar"
The navbar should take the entire width of the screen
![Code is Science - Brave 1_27_2022 3_50_12 PM](https://user-images.githubusercontent.com/83601217/151341043-c3038992-8956-48fb-935b-36b076004a29.png)
.

[2022-01-27 10:39] roshanchatei opened #53 "Pages are not responsive."
Tablet view
![Code is Science - Brave 1_27_2022 4_06_07 PM](https://user-images.githubusercontent.com/83601217/151342596-06501881-6967-45e2-bda3-8f00db5ba268.png)

[2022-01-27 10:39] roshanchatei commented on #53
Mobile view
![Code is Science - Brave 1_27_2022 4_06_19 PM](https://user-images.githubusercontent.com/83601217/151342633-5c1a5d5f-935d-44f6-ae39-a62a254bccfe.png)

[2022-01-27 13:15] ikayz commented on #52
This issue is not properly explained.

[2022-01-27 13:17] ikayz commented on #53
By pages, is it all pages or the one specific in the screenshot?

[2022-01-27 13:18] ikayz commented on #51
@roshanchatei that's well noted. Please, when opening issues. Explain what the issue is. Issue titles should not be vague.

[2022-01-27 13:19] ikayz commented on #51
@roshanchatei do look at our development codebase as it's ahead of the master

[2022-01-27 13:54] yochannah commented on #52
Hey @roshanchatei, thanks for logging these issues! I have a couple of links here which have some tips for creating a really good github issue - please do take a read through!

- https://medium.com/nyc-planning-digital/writing-a-proper-github-issue-97427d62a20f
- https://hackernoon.com/45-github-issues-dos-and-donts-dfec9ab4b612

In particular, in this case: How does one reproduce the bug you've r

[2022-01-27 14:40] roshanchatei commented on #53
all pages, should I attach all pages screenshots?

[2022-01-27 14:46] ikayz commented on #53
Okay, sure

[2022-01-27 16:42] roshanchatei commented on #53
![Code is Science - Brave 1_27_2022 10_08_43 PM](https://user-images.githubusercontent.com/83601217/151403631-9c5c141e-c926-4bdc-83d0-c6c869d98e3e.png)

![Code is Science - Brave 1_27_2022 10_09_12 PM](https://user-images.githubusercontent.com/83601217/151403642-8efe373f-d602-4386-a75b-3d97d3918ad4.png)

![Code is Science - Brave 1_27_2022 10_09_24 PM](https://user-images.githubusercontent.com/836

[2022-01-27 16:44] roshanchatei commented on #53
contact and journal are responsive and the rest are not.

[2022-01-27 18:24] padmajabhol opened #54 "Fix responsive issues throughout the website"
The website breaks at various points for the header, footer, navbar, mobile navbar, etc in the development branch. As directed by @ikayz , I'll try to fix the components either using the already integrated React bootstrap and at places, if possible by just using vanilla CSS. Below I'm attaching some screenshots of the breakpoints and some components that need fixing.

![Screenshot (576)](https://u

[2022-01-27 18:31] padmajabhol opened #55 "Add Issue and PR template"
Currently the project has no guidelines on how a new contributor should draft an issue/PR. I want to add a template to this repository so they can describe their issue and help other contributors understand what they are working on.

[2022-01-27 18:34] #54 closed

[2022-01-28 09:53] #51 closed

[2022-01-28 10:45] ikayz commented on #53
Hi thanks for the work on this. You can work on the responsiveness and please target 400px as the minimum screen screen size and/or width. Majority of our target audience based on the personas will most likely have smartphones.

[2022-01-28 12:52] roshanchatei commented on #53
ok, I will start working on this after 2-3 days after my exams get over.

[2022-01-28 14:00] ikayz commented on #53
@roshanchatei alright, thanks. We'll try to fix what we can until then

[2022-01-28 16:05] roshanchatei commented on #53
don't worry, I will be back in 2-3 days. until then you can work on some issues.

[2022-02-05 09:02] parth270 commented on #37
Yes sir I did it!!

[2022-02-05 09:05] parth270 commented on #37
sorry for replying late!!,
should I make a pull request??

[2022-02-07 07:07] parth270 commented on #53
I am done with this issue!!
should I make a PR ??

[2022-02-07 09:21] ikayz commented on #37
@parth270 someone is already working on it.

[2022-02-07 09:21] ikayz commented on #37
@roshanchatei is working on it

[2022-02-07 09:22] parth270 commented on #37
okk suree no problem!!

[2022-02-07 09:24] parth270 commented on #53
I made a PR can you check that out??
@ikayz

[2022-02-08 10:09] parth270 commented on #53
are the pages responsive now??
have you checked my commits??? @ikayz ??

[2022-02-08 10:13] parth270 commented on #44
can I work on this issue if no one is working on this??

[2022-02-11 08:18] ikayz commented on #33
@padmajabhol this is the issue that we can discuss and start working

[2022-02-11 15:55] padmajabhol commented on #33
Sure, I first need to understand what all we need in the management dashboard and plan the UI accordingly.

[2022-02-14 09:54] ikayz commented on #33
@padmajabhol sure thing.

[2022-02-18 11:27] #55 closed

[2022-02-18 11:28] padmajabhol commented on #44
I guess this issue can be closed.

[2022-02-18 11:28] #43 closed

[2022-02-18 13:38] yochannah commented on #33
- change password, change email - individual users
- Admin dashboard: remove / add users, raise priveleges from normal user to admin and back

[2022-02-18 13:39] yochannah commented on #33
we also need a sketch/figma of what the UI might look like. Assigning this to either @yochannah or @ikayz

[2022-03-27 07:11] erik-whiting opened #62 "Journal Table page showing bad data"
**Describe the bug**
The page on https://codeisscience.com/journal_table/ seems to have a bug. Maybe it's just me or maybe there isn't any data in the database yet, but the page itself looks like it's returning bad data.

Sorry if this has been reported already, or if I'm using the website wrong. If this is a real bug, I'm happy to help with it if no one else is on it already.

**To Reproduce**
St

[2022-03-30 04:11] ORKO06 opened #63 "Hero section in homepage is not responsive"
Thank you for taking the time to file a Bug report.

**Describe the bug**
If you visit the homepage and then inspect it then on a screen less than 1200px width the Read and Sign the manifesto button is not made responsive as its margin-left is given 60em.

**To Reproduce**
To give the margin-left property a responsive value which should be applicable for all screen sizes.

1. Go to '[https://journ

[2022-03-30 04:24] ORKO06 opened #64 "Typo mistake in the readme"
Thank you for taking the time to file a Bug report.

**Describe the bug**
In the readme, it is written Journal Policy Tracker Backend.

**To Reproduce**
Edit the readme file and change the text to Journal Policy Tracker Frontend.

**Screenshots**
![image](https://user-images.githubusercontent.com/74568847/160751085-ef474618-e486-4386-b5a4-d40ee25b80fc.png)

[2022-03-30 09:55] yochannah commented on #64
Please go ahead and make a PR to fix it! :)

[2022-03-30 09:55] yochannah commented on #63
Thansk for spotting this @ORKO06 !

[2022-03-30 09:57] ORKO06 commented on #63
I would like to work on this and fix it.

[2022-03-30 10:26] yochannah commented on #63
thanks!

[2022-03-30 16:07] ORKO06 opened #66 "Manifesto Text is overflowing the screen width"
Thank you for taking the time to file a Bug report.

**Describe the bug**
If you visit the manifesto and then inspect it then on a screen less than 900 px widths the Manifesto heading text is not made responsive as its font size is fixed to 5em

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '[https://journal-policy-tracker.netlify.app/manifesto](https://journal-policy-tracker.netlify

[2022-03-31 00:07] #64 closed, assigned to nobody

[2022-03-31 20:17] ORKO06 opened #68 "Signup page bottom whitespace and signup card is not in the center for some screen sizes"
Thank you for taking the time to file a Bug report.

**Describe the bug**
There is some white space at the bottom which does not appear good. Also for some screen sizes, the signup card is not in the center.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '[https://journal-policy-tracker.netlify.app/signup]((https://journal-policy-tracker.netlify.app/signup))'
2. Check the bottom whit

[2022-03-31 21:23] ORKO06 commented on #33
@yochannah I would like to work on this if no one is working currently on it. I can also develop the UI if it's not available.

[2022-04-01 05:22] padmajabhol commented on #33
Hi @ORKO06 , the organization has proposed this as a part of gsoc'22 and we don't yet have the prototype. Meanwhile you can have a look at other issues.

[2022-04-01 09:39] predator4hack opened #69 "Background image gets cropped out when screen size is varied"
Thank you for taking the time to file a Bug report.

**Describe the bug**
Background image in the header is not responsive. Also the header button overflows the header section.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [journal_policy_tracker_app](https://journal-policy-tracker.netlify.app/)
2. Right-click the mouse button and then click on 'inspect '
3. Set the dimentions to 'R

[2022-04-01 13:55] predator4hack opened #72 "NavBar styles can be improved"
Thank you for taking the time to file a Feature Request report.

**Describe the solution you'd like**
- The contents of the navbar can be aligned center.
- There is no space between navbar toggle button and screen edge at some screen sizes. Same goes for the logo.

[2022-04-01 14:30] aminoxix commented on #66
@ORKO06: Shall I work on this issue?

[2022-04-01 14:45] ORKO06 commented on #66
@amino19 I am currently working on it.

[2022-04-01 14:47] ORKO06 commented on #69
I have already sent a pr for this issue. Hope you can take some new issue.

[2022-04-01 15:22] amino19 commented on #66
There's nowhere mentioned, that you're working on this issue.

**Note:**
- If you're contributing to any other organizations' project, you must be very specific about your deeds, because it's a team effort, & I hope you don't want conflicts via miscommunication.
- If you're raising any issue, write it down as a `Note` or recomment over there, that you're working on that issue. :slightly_smiling_fa

[2022-04-01 15:27] aminoxix commented on #66
There's nowhere mentioned, that you're working on this issue. Since there are no assignees yet, I'm taking this issue from my end.

**Note:**
- If you're contributing to any other organizations' project, you must be very specific about your deeds, because it's a team effort, & I hope you don't want conflicts via miscommunication.
- If you're raising any issue, write it down as a `Note` or recommen

[2022-04-01 15:35] ORKO06 commented on #68
I am working on this.

[2022-04-01 15:39] ORKO06 commented on #66
@amino19 I didn't know about it. I hope you can take any other issue. I apologize from my behalf for the miscommunication.

[2022-04-01 17:36] padmajabhol commented on #66
Hi @amino19, most os organisations have different code of conduct and what you see here can differ elsewhere and it's pretty diverse out there.
And I believe if a contributor takes the pain to navigate through a project to find bugs, they should ideally be assigned to it( if they want).
I'm not a maintainer here and the current maintainers can be pretty busy so I request you to have patience. Happ

[2022-04-02 16:19] Tanish2000 opened #74 "Improving Manifesto page's layout"
**Is your feature request related to a problem? Please describe.**
When I visited the manifesto's page, I saw that the layout of the page was not that good and that ruined the user experience.

**Describe the solution you'd like**
I have changed the layout of the page a little and I want to change the complete layout of the page to improve UX. I have attached a screenshot below with the new change

[2022-04-02 16:19] Tanish2000 commented on #74
I want to work on this.

[2022-04-02 16:42] NumanAnees opened #75 "Inconsistent codebase"
**Describe the bug**

Codebase is not consistent. Login.js is a React **class component** while all other components in the codebase are React **functional components**.

**Expected behavior**

Whole codebase should be **consistent**. Either use React functional component or React class component. Otherwise it will become difficult for the developer to manage the codebase in **future**.

**Screens

[2022-04-02 17:16] NumanAnees opened #76 "Validation required for Journal and Login / Signup Components"
**Describe the bug**

Journal and Login/Signup components required some basic validations. User **should not** be able to submit forms with empty fields or no data.

**To Reproduce**

Submit form with no data.

**Expected behavior**

We should validate data in both client and server sides for better performance. It is a **costly** process to submit invalid data from frontend to backend and generat

[2022-04-02 18:43] ikayz commented on #74
Oh, okay. Thanks for the fix we do have a design we are referencing. @yochannah what's your say on this?

[2022-04-03 01:23] vedeepika commented on #76
Can I work on this issue?

[2022-04-03 04:00] #44 closed

[2022-04-03 04:03] padmajabhol commented on #75
Thanks for pointing this out. We are looking out to convert all class-based components to functional ones. Could you like to take this up?

[2022-04-03 04:11] padmajabhol commented on #62
I believe this has to do with the backend. Can you reference this issue in our backend repository?

[2022-04-03 04:28] erik-whiting commented on #62
hey @padmajabhol thanks for responding! I did open a new issue [here](https://github.com/codeisscience/journal-policy-tracker-backend/issues/42) and opened a PR for it as well [here](https://github.com/codeisscience/journal-policy-tracker-backend/pull/46). Thanks!

[2022-04-03 04:34] padmajabhol commented on #66
@ORKO06 are you working on this? If not, could you like to pass it to someone else?

[2022-04-03 04:37] padmajabhol commented on #68
I'm not sure if this is needed. @ikayz your thoughts on this?

[2022-04-03 04:39] padmajabhol commented on #69
HI, please wait for the maintainers to assign you an issue before you make a PR for it. Sometimes, we might not want a particular change proposed in an issue. In such a case, we don't want the contributor's work to go in vain.

[2022-04-03 05:39] predator4hack commented on #69
Hi @padmajabhol , thanks for your comments. I'll take care of this next time :)

[2022-04-03 05:44] padmajabhol commented on #76
Hi @NumanAnees , it's a good practice to wait for maintainers to assign you an issue before you open a PR for it.

[2022-04-03 05:49] ORKO06 commented on #66
@padmajabhol I am currently working on this. My work is almost ready and will sent a pr pretty soon.

[2022-04-03 05:50] prajwalkulkarni opened #80 "Footer - Copyright year is hardcoded"
Thank you for taking the time to file a Bug report.

**Describe the bug**
The current code uses statically typed copyright year "2021 Code is science", which requires updating the year manually every year.
Instead, the year could be dynamically updated using JavaScript's `Date` object.
**To Reproduce**
Steps to reproduce the behavior:

1. Go to Homepage or any page
3. Scroll down to Footer
4. Insp

[2022-04-03 05:54] padmajabhol commented on #80
Thanks for pointing this out.

[2022-04-03 06:04] predator4hack opened #81 "Unit testing react components"
Thank you for taking the time to file a Feature Request report.

**Is your feature request related to a problem? Please describe.**
As developers continue to add new features and solve bugs, it's critical to ensure that no other code is broken as a result of the changes. Unit testing can aid in these situations.

Major benifits of unit testing:
- improving application architechture and maintainabi

[2022-04-03 06:05] predator4hack commented on #81
@padmajabhol @ikayz @yochannah can I work on this issue?

[2022-04-03 06:08] padmajabhol commented on #81
Hi, I don't think if we should go for any kind of testing right now. Although, once we have the website up and running, I could prefer going for a core E2E testing with Cypress and then integrating it with the CI.
Your thoughts on this @ikayz @yochannah ?

[2022-04-03 06:22] vedeepika commented on #72
Can I work on this issue?

[2022-04-03 06:27] CIPHERTron commented on #62
Heyy @erik-whiting thanks for opening the issue but the above-mentioned issue is related to [this](https://github.com/codeisscience/code-is-science) repository because that's where the `codeisscience.com` website development takes place. I haven't worked on that project but I think @yochannah can help here :D

[2022-04-03 06:27] prajwalkulkarni commented on #80
@padmajabhol I've linked to a PR that fixes this issue, could you kindly review it? Thanks.

[2022-04-03 06:43] ikayz commented on #81
I agree with @padmajabhol. We should have tests once the website is up and running.

[2022-04-03 06:45] ikayz commented on #76
@NumanAnees please exercise patience and wait for maintainers like @padmajabhol has pointed out before making a PR.

[2022-04-03 07:09] prajwalkulkarni opened #83 "Navbar - Focusing on search bar causes incomplete outline"
Thank you for taking the time to file a Bug report.

**Describe the bug**
The search bar present in the navigation bar is composed of primarily two elements, an input field, and a logo. The logo is placed at the right end of the input field. When the search bar is focused, by default an outline is drawn by the browser, since adding an outline on focus is a default behavior to an input field and no

[2022-04-03 07:11] prajwalkulkarni commented on #83
@padmajabhol @ikayz @yochannah, could you please assign this issue to me, I'd like to work on this and get it fixed.

[2022-04-03 08:46] padmajabhol commented on #83
Hi, this issue has already been solved #61

[2022-04-03 08:47] #83 closed, assigned to nobody

[2022-04-03 09:02] NumanAnees commented on #75
@padmajabhol Yeah sure, Please assign this to me.

[2022-04-03 09:11] NumanAnees commented on #76
@ikayz @padmajabhol thanks for guiding me and sorry for inconvenience from my side. Can you please assign it to me so that I can make a separate PR only for this issue?

[2022-04-03 10:12] prajwalkulkarni opened #85 "Header - Warning: No value passed to prop "fluid""
Thank you for taking the time to file a Bug report.

**Describe the bug**
The header section on the homepage (/) consists of a button component within the `Jumbotron` component. A prop `fluid` is passed to the button component. However, no value is passed to this prop, this defaults to `true` but isn't written to the DOM, this is throwing a warning in the console of the browser's dev tools. Such e

[2022-04-03 10:13] KinetiCore-Labs opened #87 ""Read and Sign the manifesto" button overflow in the mobile view"
**Describe the bug**
In the header section of the homepage, the button "Read and Sign the manifesto" is not responsive and overflows in the mobile view of the website.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://journal-policy-tracker.netlify.app/'
2. Right-click over the "Read and Sign the manifesto" button and click on "Inspect".
3. Check the responsiveness of the websi

[2022-04-03 10:13] KinetiCore-Labs commented on #87
https://github.com/codeisscience/journal-policy-tracker-frontend/pull/86

I have fixed this issue in this PR.

[2022-04-03 10:13] prajwalkulkarni commented on #85
@padmajabhol, Looked through the existing and closed issues, this hasn't been addressed yet. Can I take this up?

[2022-04-03 11:23] NumanAnees opened #88 "Navbar should be sticky for better user experience"
## According to the Google
![nav_sticky](https://user-images.githubusercontent.com/67089723/161424064-877b0fea-4acc-4f2c-ba83-ad20d527f744.png)

## Current Behaviour

https://user-images.githubusercontent.com/67089723/161424191-bacd67af-30d4-4464-8a3b-b71247e8e2b2.mp4

## Expected Behaviour

https://user-images.githubusercontent.com/67089723/161425139-b3dd2b1d-fba5-4818-b953-55174689178f.mp4

# Na

[2022-04-03 11:28] NumanAnees commented on #88
@padmajabhol Can you please review it and assign it to me?

[2022-04-03 13:33] vedeepika commented on #66
Shall I work on this issue?

[2022-04-03 13:35] vedeepika commented on #88
Shall I work on this issue?

[2022-04-03 13:43] NumanAnees commented on #88
@vedeepika I've already solved this. Now, just waiting for the maintainers to review it so that I can open a PR.

[2022-04-03 16:16] erik-whiting commented on #62
Closing this because it should have been reported in another repo. New issue is [here](https://github.com/codeisscience/code-is-science/issues/98).

[2022-04-03 16:16] #62 closed, assigned to nobody

[2022-04-03 17:04] Tanish2000 commented on #74
Please review my PR  @ikayz @yochannah , so I can move forward with further changes if needed.

[2022-04-03 17:46] padmajabhol commented on #87
We already have a PR solving this issue, please make sure you aren't creating duplicate issues/PRs. Also its always better to wait for maintainers to assign you an issue before opening a particular PR.

[2022-04-03 17:46] #87 closed, assigned to nobody

[2022-04-03 17:48] padmajabhol commented on #88
Please do.

[2022-04-03 17:49] padmajabhol commented on #85
Go ahead.

[2022-04-03 18:06] prajwalkulkarni commented on #85
Linked a PR, kindly review.

[2022-04-03 18:09] dikshashukla455 commented on #88
Can I work on this issue? @padmajabhol

[2022-04-03 18:14] dikshashukla455 commented on #66
Can I work on this issue? If no one is assigned

[2022-04-03 22:22] NumanAnees commented on #75
@padmajabhol Yeah sure, Please assign this to me 👍🏻

[2022-04-04 00:49] roshanchatei opened #91 "Navbar not responsive in Home Page"
### **Describe the bug**
The navbar is not taking the full width for the lower screen size of the browser due to which the other component's responsiveness is affected.

### **Expected behaviour**
The navbar should cover the entire width of the screen

### **Screenshots**
1. Now

![Code is Science - Google Chrome 4_4_2022 6_00_38 AM](https://user-images.githubusercontent.com/83601217/161456734-88f

[2022-04-04 00:50] roshanchatei commented on #91
@padmajabhol I would like to work on this, can you please assign this to me

[2022-04-04 01:03] vedeepika opened #92 "Footer headings touch the links"
Thank you for taking the time to file a Feature Request report.

### Problems need to be fixed

The footer headings are touching the upper links. This looks not good and needs to be fixed.

![IMG_20220404_063426](https://user-images.githubusercontent.com/88725279/161458002-783b6858-6092-4c52-9bcc-4bbd19086944.jpg)

### Solution
In the footer area, there must add some space from the top or add some

[2022-04-04 01:06] vedeepika commented on #92
@padmajabhol Can you please review it and assign it to me?

[2022-04-04 01:31] vedeepika opened #93 "Journals page is not responsive and journals form is not in center"
Thank you for taking the time to file a Feature Request report.

### Problems in Journals Page
On the journal page, the form is not in the center and the heading is also not in the center.

![IMG_20220404_065409](https://user-images.githubusercontent.com/88725279/161459593-7046708d-6952-4e9b-b60d-68f0e1d23d03.jpg)

On the small devices, the page is not responsive. And need to be fixed.

![IMG_2022

[2022-04-04 01:35] vedeepika commented on #93
@padmajabhol Can you please review it and assign it to me?

[2022-04-04 01:44] roshanchatei opened #94 "Policies Input fields border are overlapping"
### **Describe the bug**
There are 4 input fields under Policies and there is no margin between them, so when focused on the given border(mainly the bottom border) is being hidden behind the other input field

### **Expected behaviour**
The Input field's border should not overlap.

### **Screenshots**

![Code is Science - Google Chrome 4_4_2022 6_26_31 AM](https://user-images.githubusercontent.com

[2022-04-04 01:45] roshanchatei commented on #94
@padmajabhol I would like to work on this issue.

[2022-04-04 02:57] roshanchatei commented on #93
@vedeepika This issue has already been raised #91

[2022-04-04 02:59] roshanchatei commented on #91
@ikayz if possible can you close the previous issue of the navbar

[2022-04-04 03:07] #52 closed

[2022-04-04 03:54] roshanchatei opened #95 "UI breaks in Mobile view"
### **Describe the bug**
Many of the code is hardcoded due to which at smaller screen sizes the UI breaks(mainly navbar, footer and some other components). For example width of some components and font size are hardcoded.

### **Expected behaviour**
The components and their children's components should change their attributes at different screen sizes.

### **Screenshots**

![WhatsApp Image 2022-0

[2022-04-04 07:00] #80 closed, assigned to prajwalkulkarni

[2022-04-04 07:01] #63 closed, assigned to ORKO06

[2022-04-04 08:42] padmajabhol commented on #94
Go ahead @roshanchatei

[2022-04-04 09:20] prajwalkulkarni opened #96 "Login - Invalid value passed to property mode in fetch API"
Thank you for taking the time to file a Bug report.

**Describe the bug**
In the login component, a login handler function takes care of making network calls to the backend using the fetch API. However, this API call is not being triggered because of the invalid value passed to the `mode` property. The current implementation passes `CORS`, but from the fetch API [docs](https://developer.mozilla.or

[2022-04-04 09:22] bharat2913 commented on #91
Hi, I would like to work on this issue, can you please assign this to me

[2022-04-04 09:22] prajwalkulkarni commented on #96
@padmajabhol let me know what you think of this. If you could assign this issue to me, I'd be glad to make the necessary changes & getting this fixed. Thanks.

[2022-04-04 09:46] roshanchatei commented on #94
Thank You

[2022-04-04 09:51] roshanchatei commented on #91
@padmajabhol assign me this issue, I was working on this issue. The previous issue which I raised was not properly described so I closed it.

For reference #52

[2022-04-04 10:29] vedeepika opened #97 "Home page - No link add on Read and Sign the manifesto button"
Thank you for taking the time to file a Feature Request report.

### The issue needs to be fixed

In the home page hero section, there is a button read and sign the manifesto. there is no link added to this button. I think when the user clicks on this button then the page must be redirected to the manifesto page.

![1649067285p-1920x1080](https://user-images.githubusercontent.com/88725279/16152539

[2022-04-04 13:33] Tanish2000 commented on #74
Can you please share the referenced design if possible @ikayz ?

[2022-04-04 16:49] roshanchatei commented on #91
@padmajabhol?

[2022-04-04 16:53] padmajabhol commented on #97
We don't have this feature yet so right now we can't redirect the user anywhere.

[2022-04-04 16:53] #97 closed, assigned to nobody

[2022-04-04 16:55] dikshashukla455 opened #98 "Redesigning the footer component"
Thank you for taking the time to file a Bug report.

**Describe the bug**
A footer component consists of some bugs:
1) there is no padding between the links.
2) In desktop view, It contains extra empty space from the right-hand side
3) there is no margin between the icon and text.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the Home page
2. Scroll down to the footer section
3. See

[2022-04-04 16:56] dikshashukla455 commented on #98
@padmajabhol Can I work on this issue, If it is valid?

[2022-04-04 16:58] padmajabhol commented on #92
Could you be a bit more descriptive? I couldn't exactly understand 😅

[2022-04-04 16:59] dikshashukla455 commented on #95
Can I work on this issue?

[2022-04-04 17:03] padmajabhol commented on #96
This issue could have come under fixing the functionality as proposed under GSOC but I see no harm fixing it right away as a part of contributions. Your thoughts @ikayz ?

[2022-04-04 17:03] dikshashukla455 commented on #16
@ikayz, Can I work on this issue? If you allow me?

[2022-04-04 17:08] padmajabhol commented on #91
Hi, this issue looks similar to an issue that you created previously #95
Please avoid creating duplicate issues

[2022-04-04 17:08] #91 closed, assigned to nobody

[2022-04-04 17:13] padmajabhol commented on #93
@roshanchatei the issue you are referring to only proposed to make the navbar responsive.

[2022-04-04 17:19] padmajabhol commented on #95
I guess you had previously created an issue to work on the breaking points #53 . Please avoid creating multiple duplicate issues.

[2022-04-04 17:20] #95 closed, assigned to nobody

[2022-04-04 17:20] prajwalkulkarni commented on #96
Yes, that'd work as well, but I was thinking I could address issues that would require implementing more significant changes, be it with styles or validation and development of other components. Anything is fine and I'd be willing to go with the decisions made by mentors and the project maintainers. I was also wondering if there is any template available for writing the project proposal. If yes, w

[2022-04-04 18:29] #85 closed, assigned to prajwalkulkarni

[2022-04-04 18:29] dikshashukla455 opened #99 "Added the some space in 'Contact us' heading and in Contact us form, Incorrect input type in subject field"
Thank you for taking the time to file a Bug report.

**Describe the bug**

The contact page contains several bugs :
1) 'contact us' heading touches the navbar border.
In contact form:
-  In the subject field, it has 'password' in input type instead of the 'text'.
-  In the message field, It has only an input field rather than a textarea.
-  There is no space between the remember me checkbox and th

[2022-04-04 18:31] dikshashukla455 commented on #99
@padmajabhol  Can I work on this issue? If it is valid? Please, Kindly review the above issue. Thank you.

[2022-04-04 18:33] #72 closed, assigned to predator4hack

[2022-04-05 00:27] CIPHERTron commented on #98
Looks good. You can go ahead and open a PR @dikshashukla455 🚀

[2022-04-05 01:43] dikshashukla455 commented on #98
Okay I will,. Thank you

[2022-04-05 04:36] padmajabhol commented on #99
Sure, thanks for pointing this out.

[2022-04-05 04:38] padmajabhol commented on #96
Yes we do have one.
https://docs.google.com/document/d/1zrHGk1guWboGlOuQKd6aaaplQtGGXChwj_zwOdz9KE0/edit#

[2022-04-05 06:33] prajwalkulkarni commented on #96
Thank you. Will use the given template to create my proposal.

[2022-04-05 07:01] ikayz commented on #96
@prajwalkulkarni thanks for pointing that out. @padmajabhol yeah that's a good idea. Also do not that the backend currently has issues that need fixing, the backend API isn't working as it should be.

[2022-04-05 10:39] dikshashukla455 commented on #98
@CIPHERTron @padmajabhol I have made a PR. Kindly review it. Thank you.

[2022-04-05 10:42] dikshashukla455 commented on #99
Welcome :)
I will make PR for this issue.

[2022-04-05 11:28] dikshashukla455 commented on #99
Greetings, I have made the PR. kindly review it. Thank you. @padmajabhol

[2022-04-05 14:00] vedeepika opened #102 "Login and Sign up pages are not responsive and need more features"
Thank you for taking the time to file a Feature Request report.

### **Issue needs to be fixed**

1). Login and sign-up pages are not responsive on mobile devices.

![IMG_20220405_191651](https://user-images.githubusercontent.com/88725279/161769078-996e1af2-2ac5-4b02-a63b-88672bb9d10f.jpg)

![IMG_20220405_191615](https://user-images.githubusercontent.com/88725279/161769129-56d5200f-8f3f-4f02-9e92-

[2022-04-05 14:04] vedeepika commented on #102
@padmajabhol Can you please review it and assign it to me?

[2022-04-05 14:36] prajwalkulkarni opened #103 "Hyperlinks in manifesto page opening in the same tab"
Thank you for taking the time to file a Feature Request report.

**Is your feature request related to a problem? Please describe.**
On the manifesto page, there's a contact section beside the **How can I contribute** section that links to various contact resources. However, when these links are clicked, the user is navigated to the linked website in the same tab instead of opening a new tab. This

[2022-04-05 14:37] prajwalkulkarni commented on #103
@padmajabhol Could you please assign this issue to me so that I can fix this UX problem?

[2022-04-05 16:17] #74 closed, assigned to nobody

[2022-04-05 16:17] yochannah commented on #74
Looking good!

[2022-04-05 16:20] #88 closed, assigned to NumanAnees

[2022-04-05 16:20] yochannah commented on #88
Thanks @dikshashukla455 - in this case @NumanAnees has already fixed it though :)

[2022-04-05 18:54] yochannah commented on #66
Hey @dikshashukla455 and @vedeepika thanks both for volunteering - we usually prefer to give the first person who comments on as issue the chance to finish it first though. You're welcome to work on other issues or make issues if you spot one!

[2022-04-05 19:05] yochannah commented on #103
@prajwalkulkarni Thanks for thinking of this @prajwalkulkarni ! In this case, I think this is a feature that maybe we should avoid. You can read a little more here about why it's better to leave it in the control of the user whether or not it should be in another tab: https://www.nngroup.com/articles/new-browser-windows-and-tabs/

[2022-04-05 19:05] #103 closed, assigned to nobody

[2022-04-05 19:40] yochannah commented on #16
@dikshashukla455 go for it, let us know if we need to help or enable anything!

[2022-04-05 19:48] yochannah commented on #102
This issue looks good! @vedeepika please go ahead

[2022-04-05 19:52] dikshashukla455 commented on #16
Sure, I will work on it

[2022-04-06 03:17] vedeepika commented on #93
I fixed all the issues can you please review it #104

[2022-04-06 04:19] prajwalkulkarni commented on #103
Hello @yochannah , thanks for the clarification. However, the other parts of the application (E.g footer and other sections) open up links in a new tab, hence I thought to keep the behavior consistent across the application.

[2022-04-06 07:42] oneknucklehead opened #105 "Header.css Clean up"
the css of the header used a lot of calculated values for its margin and setting up the button to its position in the header

**Describe the solution you'd like**
Aligning the button in the header to its position without using calculated values, but also maintaining the responsiveness of the page at the same time.

Current css:
![Screenshot 2022-04-06 131430](https://user-images.githubusercontent.

[2022-04-06 09:35] padmajabhol commented on #105
I don't think we need this for the time being.

[2022-04-06 09:35] #105 closed, assigned to nobody

[2022-04-06 10:56] dikshashukla455 commented on #99
Greetings @padmajabhol, I resolved all the problems and updated the PR. Kindly review it. Thank you

[2022-04-06 11:04] prajwalkulkarni opened #109 "Manifesto - Title images aligning vertically in smaller screens."
Thank you for taking the time to file a Bug report.

**Describe the bug**
On the manifesto page, there are two images on either side of the title, all aligned horizontally, but when the screen size is shrunk to be in a portrait mode, the title and the images are aligning vertically, also the padding is extraneous and is leaving lots of white space above and below the title.

**To Reproduce**
Steps

[2022-04-06 11:06] prajwalkulkarni commented on #109
@padmajabhol @yochannah @ikayz, May I work on this? If you feel this change makes sense and could be implemented?

[2022-04-06 11:11] aminoxix commented on #66
But, it's approximately a week, and the contributor is busy making as much as a contribution for GSoC; so at least another contributor must have a chance. :slightly_smiling_face:

[2022-04-06 11:12] Riturajrs opened #110 "On clicking on logo of the site it does not redirect to homepage and the Read manifesto link does not work"
When on any page, clicking on the logo should take me to the home page but it does not. Instead only "#home" link is added.

**To Reproduce**
1. Click on the logo from any page
2. It does not get redirected.
3. Same is the case for Read Manifesto

[2022-04-06 11:20] Riturajrs commented on #110
@padmajabhol can I work on this issue?

[2022-04-06 11:54] padmajabhol commented on #109
Sure, go ahead.

[2022-04-06 11:56] padmajabhol commented on #110
We don't yet have a link for the manifesto part. You can work on the logo.

[2022-04-06 12:32] Parth-Jain-2002 opened #115 "The section below the header in the manifesto page is not centered"
![image](https://user-images.githubusercontent.com/72060359/161974924-4323e99b-fc37-4855-821f-71aea6654f9a.png)

In this, you can see that the section below the header is not centered properly.
-> The space from left and right side is unequal.
-> There is asymmetry between the text and the img on left side and img on right side

[2022-04-06 12:33] Parth-Jain-2002 commented on #115
@padmajabhol I have worked on this issue and submitted a pull request. Can you check the issue and merge the pull request?

[2022-04-06 15:42] oneknucklehead opened #117 "Fix footer hover bug"
Thank you for taking the time to file a Bug report.

**Describe the bug**
the links in the footer are still clickable even when the pointer of the mouse is not directly upon the hyperlink

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the footer section
2. hover in the area to right of the links

**Expected behavior**
A clear and concise description of what you expected to happen.

*

[2022-04-06 16:30] Parth-Jain-2002 commented on #115
#114 Please review this PR

[2022-04-06 18:48] Riturajrs opened #118 "No validators in login/signup form"
**Is your feature request related to a problem? Please describe.**
If I enter my email, and it is not of the proper format due to typing error or my password is not strong enough I might need to re-enter it. This degrades user experience.

**Describe the solution you'd like**
When I fill in the form I should automatically get notified whether my email is valid or not and my password is strong, and

[2022-04-06 18:49] Riturajrs commented on #118
@yochannah @padmajabhol @prajwalkulkarni can I work on this issue?

[2022-04-07 04:26] Nishantjain10 commented on #117
@padmajabhol I will like to work on this issue.

[2022-04-07 05:52] #115 closed, assigned to nobody

[2022-04-07 05:56] padmajabhol commented on #118
A PR has already been raised for a similar issue.

[2022-04-07 05:56] #118 closed, assigned to nobody

[2022-04-07 05:58] padmajabhol commented on #117
@Nishantjain10 you can look for other issues, we mostly assign the issues to people who raise them.

[2022-04-07 06:42] Parth-Jain-2002 opened #119 "Hover functionality in navigation bar"
Thank you for taking the time to file a Feature Request report.

**Is your feature request related to a problem? Please describe.**
As of now, there is no hover functionality in the nav bar. Moreover, a line appears in the nav-bar below the active section, which I feel is unappealing to users.

**Describe the solution you'd like**
1. Add hover functionality in the navbar
2. Remove the line below t

[2022-04-07 06:43] Parth-Jain-2002 commented on #119
@padmajabhol Can you please review this issue and if valid, assign it to me?

[2022-04-07 08:27] Riturajrs opened #121 "Directly going to the link on clicking icon in contact page."
**Is your feature request related to a problem? Please describe.**
On the contacts page, multiple icons are there, but the links just below it.

**Describe the solution you'd like**
I would like to link the hyperlinks directly to the picture, so when they are clicked on the person is directly directed or taken to mail section.

[2022-04-07 08:27] Riturajrs commented on #121
@padmajabhol can I work on this?

[2022-04-07 17:27] padmajabhol commented on #119
I'm not sure if we need this. @ikayz can say.

[2022-04-07 17:29] padmajabhol commented on #121
Sounds good but do not remove the links below the icons.

[2022-04-07 17:36] padmajabhol opened #123 "Add form validation to contact form"
Currently we don't have any kind of validation for the form present in the contact page.

[2022-04-07 17:37] padmajabhol commented on #123
@prajwalkulkarni could you like to take this up?

[2022-04-07 17:42] prajwalkulkarni commented on #123
@padmajabhol Yeah, sure I can work on this. Could you please assign it to me?

[2022-04-07 17:43] MoatazNasr commented on #123
can i work on this ?

[2022-04-08 05:29] #110 closed, assigned to Riturajrs

[2022-04-08 07:30] ikayz commented on #119
The line that appears on the active one is to indicate where the user is. A number of website do actually have this. And please do note that we actually did some user personas and research around the website app. The hover functionality will be added but it's a minor issue

[2022-04-08 10:04] #119 closed, assigned to nobody

[2022-04-08 17:02] Riturajrs commented on #121
@padmajabhol could you please review my pull request, I have done it as told to do.

[2022-04-08 17:12] dikshashukla455 commented on #16
@ikayz @yochannah  Codacy wants $15 for getting started after the 14-day free trial. So, what do you suggest that I do?

[2022-04-08 17:21] ikayz commented on #16
Yeah, for personal use you have to subscribe. It's free for open source projects. It requires admin rights I think to a repo. I'll take care of this issue since I have admin rights

[2022-04-08 17:23] dikshashukla455 commented on #16
Okay ! so, I will look for another issue?

[2022-04-08 19:15] dikshashukla455 commented on #94
Greetings @padmajabhol, Can I work on this issue? As it seems like there is no PR linked to this issue till now.

[2022-04-08 21:42] Marim99 opened #127 "the subject field on the contact page"
**Describe the bug**
the subject field on the contact page is a password field

**Expected behavior**
the subject field on the contact page is a text field

**Screenshots**
![Screenshot (218)](https://user-images.githubusercontent.com/78925756/162535751-ebc8f245-4844-4b10-b50d-74f2a725e3fe.png)

**Desktop (please complete the following information):**

- OS: [windos]
- Browser [chrome]

[2022-04-08 21:44] Marim99 commented on #127
Can you please review it and assign it to me? @padmajabhol

[2022-04-08 21:59] Marim99 opened #128 "The journals page is not responsive on the small screen"
**Describe the bug**
The journals page is not responsive on the small screen

**Screenshots**

https://user-images.githubusercontent.com/78925756/162537467-62664ae9-fc89-49a4-9c73-d4cb98824a21.mp4

**Desktop (please complete the following information):**

- OS: [windows]
- Browser [chrome]

[2022-04-08 22:01] Marim99 commented on #128
Can you please review it and assign it to me?@padmajabhol

[2022-04-09 02:27] roshanchatei commented on #94
@dikshashukla455 I have done the changes and pushed it, just to make a PR

[2022-04-09 10:15] dikshashukla455 opened #129 "Redesigning the contact page"
Thank you for taking the time to file a Bug report.

**Describe the bug**
There are two bugs in the contact page:

1. the color of the contact card looks bulky.
2. the contact form should be in the center.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the website (https://journal-policy-tracker.netlify.app/)
2. Click on the Contact link in the navbar
3. Scroll down to the contact fo

[2022-04-09 10:16] dikshashukla455 commented on #129
Greetings @padmajabhol, Can I work on this issue? If it is valid.

[2022-04-10 07:44] CoderS2020 opened #132 "Home Page Image is not responsive"
The Home Page's first image is not responsive. It repeats on larger screens and is partially visible on small screens.

Steps to reproduce the behavior:
1. Go to home page
2. Go to inspect to check repsonsiveness.
3.  Beyond 1920 X 871 for 50% zoom it shows duplicate image, similarly when you decrease screen size by dragging you see image becomes partially visible.

https://user-images.githubuserc

[2022-04-10 07:46] CoderS2020 commented on #132
Hello, can I work on this issue?

[2022-04-10 23:55] mjawaaad commented on #132
Hello sir, i would like to work on this issue.

[2022-04-11 10:40] CoderS2020 opened #133 "Navigation Bar previous active link is still active"
When we use the navigation bar to move from one page to another, on using the back button of the browser, the previously active page still remains active. This may confuse the user on exactly which page he/she currently is. I checked on Google Chrome as well as Microsoft Edge, both the browsers show the same error.

Steps to reproduce the behavior:
1. Travel some pages using navigation bar.
2. The

[2022-04-11 10:41] CoderS2020 commented on #133
Hello, Greetings. If this is valid ,may I work on it?

[2022-04-11 12:21] rahoolonly commented on #133
I think if you change the effect then will work. I can do this .

[2022-04-11 12:23] rahoolonly commented on #132
hey. I can make this responsive . Kindly give this this work to me.

[2022-04-11 12:34] CoderS2020 commented on #133
Oh, thanks for recommending., but I actually found the solution for this.

[2022-04-11 12:37] CoderS2020 commented on #133
After a lot of searching I finally found out what was wrong. To know more about it you can go through the following links:-
https://github.com/react-bootstrap/react-router-bootstrap/issues/242
https://github.com/react-bootstrap/react-router-bootstrap/issues/243

[2022-04-11 14:54] yochannah commented on #99
Thanks for the PR @dikshashukla455! We're a bit snowed under with lots of applications and PRs right now, but we'll review this as soon as we get a chance

[2022-04-11 14:54] yochannah commented on #99
oh, I lied, Padamaja has already approved - epic!

[2022-04-11 14:54] #99 closed, assigned to dikshashukla455

[2022-04-11 14:55] #117 closed, assigned to oneknucklehead

[2022-04-11 14:59] #98 closed, assigned to dikshashukla455

[2022-04-11 15:37] yochannah commented on #123
@MoatazNasr thanks for offering, but let's give prajwal the chance to work on this :)

[2022-04-11 15:41] yochannah commented on #127
good spot lol!

[2022-04-11 15:42] yochannah commented on #128
hmmm, has this been fixed in any other PRs recently? we've had a few.

[2022-04-11 16:22] padmajabhol commented on #128
I believe this has been fixed!

[2022-04-11 17:48] CoderS2020 opened #136 "Links clickable outside texts."
**Describe the bug**
The links in the contact section of manifesto page (i.e.. links for twitter, email and github) are clickable outside as well.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Manifesto page
2. Hover/ Click around right side of twitter/email/github links below contact section.
3. See error

**Screenshots**

https://user-images.githubusercontent.com/71634100/16279908

[2022-04-11 17:49] CoderS2020 commented on #136
Hello , greetings. If this issue seems valid may I work on it?

[2022-04-12 05:59] prajwalkulkarni commented on #127
Hello @yochannah, I believe this issue is already resolved and merged (https://github.com/codeisscience/journal-policy-tracker-frontend/pull/108). @padmajabhol kindly confirm the same. Thanks.

[2022-04-12 11:14] #93 closed, assigned to vedeepika

[2022-04-12 11:14] padmajabhol commented on #94
Any updates @roshanchatei ?

[2022-04-12 11:15] padmajabhol commented on #102
Any updates @vedeepika ?

[2022-04-12 11:16] padmajabhol commented on #121
Sure!

[2022-04-12 11:22] padmajabhol commented on #129
Not a major ui change but could be nice to have. Do we need this @yochannah @ikayz ?

[2022-04-12 11:23] padmajabhol commented on #127
This has already been fixed. I'll create a new issue and assign it to you @Marim99, if that works for you?

[2022-04-12 11:23] #127 closed, assigned to Marim99

[2022-04-12 11:24] #128 closed, assigned to nobody

[2022-04-12 11:28] padmajabhol commented on #133
Good catch, thankyou @CoderS2020 , but please wait for a little before a maintainer assigns you an issue.

[2022-04-12 11:32] padmajabhol commented on #136
This has been fixed, pull the latest commits.

[2022-04-12 11:32] #136 closed, assigned to nobody

[2022-04-12 11:36] #109 closed, assigned to prajwalkulkarni

[2022-04-12 11:56] roshanchatei commented on #94
Just pushing

[2022-04-12 12:45] ikayz commented on #129
@padmajabhol would be nice to have that, yes. Though the call to action bit not sure I'd have to loop in @yochannah

[2022-04-12 14:32] Marim99 commented on #127
okay, it will be great
but How do I know that the issue I found was solved before if it was not updated in the project? @padmajabhol

[2022-04-12 15:23] #121 closed, assigned to Riturajrs

[2022-04-12 16:04] CoderS2020 commented on #133
@padmajabhol ,extremely sorry for my impatience, will take care of that from next time.

[2022-04-13 02:22] adityabhattad2021 commented on #102
How To Contribute?

[2022-04-13 05:44] VishalPatil18 commented on #53
Hey @padmajabhol can I work on this issue so that I could include it in my proposal for GSoC'22?

[2022-04-13 07:51] padmajabhol commented on #133
@CoderS2020 no worries!

[2022-04-13 11:03] oneknucklehead commented on #102
Is this issues still being worked upon? If not, I can work on it.

[2022-04-13 11:05] oneknucklehead commented on #132
I guess this issues has already been worked upon, please check PR #70

[2022-04-13 11:34] oneknucklehead commented on #66
Is this issues still being worked upon? If not, can I be assigned to this issue?

[2022-04-13 11:38] oneknucklehead opened #140 "Homepage button overflows"
**Describe the bug**
The "read and sign the manifesto" button overflows the image element on changing the screen size.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [ 'journal policy tracker homepage'](https://journal-policy-tracker.netlify.app/)
2. Right Click and choose inspect element
3. try changing the dimensions of the screen

**Screenshots/Video**

https://user-images.githubu

[2022-04-14 13:33] adityabhattad2021 commented on #53
Hey can I work on this issue?

[2022-04-14 20:54] Mohammad-Gouse commented on #140
Can I work on this, please assign me this issue

[2022-04-15 09:23] padmajabhol commented on #140
This has been fixed by a previous PR. Can you please pull the recent push to the repo?

[2022-04-15 09:23] #140 closed, assigned to nobody

[2022-04-15 09:24] padmajabhol commented on #132
The previous contributor is not really responding so assigning it to @CoderS2020

[2022-04-15 09:25] padmajabhol commented on #132
@mjawaaad @rahoolonly you can look for bugs/small fixes and I shall assign them to you.

[2022-04-15 09:26] padmajabhol commented on #102
Go ahead @oneknucklehead

[2022-04-15 09:28] padmajabhol commented on #102
Hi @adityabhattad2021, you can look for bugs or small fixes in the code base and create an issue on your own. If it's genuine, we shall assign it to you. I hope this helps.

[2022-04-15 10:50] #75 closed, assigned to nobody

[2022-04-15 13:55] yochannah commented on #129
works for me!

On Tue, Apr 12, 2022 at 1:46 PM Isaac Miti ***@***.***> wrote:

[2022-04-15 21:54] oneknucklehead opened #143 "login email and password validation"
**Is your feature request related to a problem? Please describe.**
Currently the login/signup page accepts any password that is entered even if the length of the password is one or two letter.

**Describe the solution you'd like**
Adding regex to validate the password and making it necessary to be eight letters long and a combination of Uppercase and lowercase characters. Also, show errors if the

[2022-04-15 21:59] oneknucklehead commented on #94
is this issue still being worked upon? If not, I'd like to work on this.

[2022-04-16 13:05] Mohammad-Gouse commented on #143
Can I work on this, please assign it to me.

[2022-04-17 00:03] NumanAnees commented on #76
PR merged...

[2022-04-17 00:03] #76 closed, assigned to nobody

[2022-04-17 11:32] CoderS2020 commented on #136
Hello @padmajabhol , I pulled the latest commits, but still the bug remains the same. I also checked the other issues.
Extremely sorry if I am doing some mistake and troubling you.

[2022-04-17 19:10] oneknucklehead commented on #143
Hey! the issues are only assigned those who raised them for this project. This may not be the case for other projects. You can raise issues or feature requests instead.

[2022-04-18 08:39] falakamin31 opened #146 "Ability to add alt text to images"
**Description of bug**

The images are having empty alt text, such as (alt= ' '). When images fail to load, and having no alt text, it casts bad user experience.
Users with visual impairments who use screen readers and Web crawlers are unable to understand anything about images

**Steps to reproduce the behavior:**

1. Slow internet connection
2. To see this behavior, explicitly make your network

[2022-04-18 08:40] falakamin31 commented on #146
Please assign this issue to me. I want to work on it.

[2022-04-18 11:37] #123 closed, assigned to prajwalkulkarni

[2022-04-18 12:50] #146 closed, assigned to falakamin31

[2022-04-18 12:52] yochannah commented on #94
@roshanchatei just checking in - did you make the PR in the end?

[2022-04-18 17:18] Rishabhk06 opened #148 "CodeIsScience logo does'nt redirect to Home Page"
**Describe the bug**
Clicking on the Code Is Science logo doesn't redirect to the home page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Any Page'
2. Click on 'Code is Science logo'
4. See an error

**Expected behavior**
Redirection to home page.

**Screenshots**
<img width="1432" alt="Screenshot 2022-04-18 at 10 46 15 PM" src="https://user-images.githubusercontent.com/76654144/1

[2022-04-18 17:19] Rishabhk06 commented on #148
Please assign this issue to me so that I can do a quick fix.

[2022-04-19 03:28] Ashwani132003 opened #149 "Add signup page button in login page and remove signup from navbar. (Login/Signup)"
Remove signup option from navbar and change Login to "Login/Signup". Add a separate Signup button to login page and similarly a login button in signup page.

[2022-04-19 06:16] Rishabhk06 opened #150 "Remarks in Contact is being hidden under NavBar"
**Describe the bug**
The paragraph tag in Contact section is being overlapped by NavBar and is not visible.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Contact Section'
2. See error

**Expected behavior**
The paragraph tag should be visible. Margin needs to be fixed.

**Screenshots**
<img width="1435" alt="Screenshot 2022-04-19 at 11 42 53 AM" src="https://user-images.githubuserc

[2022-04-19 11:56] padmajabhol commented on #148
I think this has been fixed by a previous PR.

[2022-04-19 11:57] padmajabhol commented on #149
I don't think we need this yet.

[2022-04-19 11:57] #149 closed, assigned to nobody

[2022-04-19 11:58] padmajabhol commented on #150
Thanks for raising this.

[2022-04-19 11:59] padmajabhol commented on #148
Was fixed in #110

[2022-04-19 11:59] #148 closed, assigned to nobody

[2022-04-19 12:29] roshanchatei commented on #94
@yochannah @padmajabhol can you please review the MR?
And I am sorry for my late response actually, I had messaged @padmajabhol earlier

[2022-04-19 14:27] prajwalkulkarni opened #153 "Missing apple touch icon"
Thank you for taking the time to file a Bug report.

**Describe the bug**
The `index.html` specifies a link tag to a logo that'll be shown on the home screen in iOS devices when a user adds this website to their home screen. However, this logo is missing. This would force the system to capture the home screen and show it is a logo instead.

**To Reproduce**
Steps to reproduce the behavior:

1. Fir

[2022-04-19 14:34] prajwalkulkarni commented on #153
@padmajabhol Kindly let me know if I can work on fixing this.

[2022-04-21 08:27] ORKO06 commented on #34
@ikayz
Can you elaborate on this issue a little more?

[2022-04-22 07:47] dikshashukla455 commented on #129
Hello everyone, I have added the PR . Kindly review it. Thank you.

[2022-04-25 08:56] yochannah commented on #34
@ORKO06 the idea behind this one is that right now the blog pages wouldn't convert markdown to HTML - it'd output as plain text. We'd prefer to convert the markdown into HTML instead!

[2022-04-25 09:06] padmajabhol commented on #153
I might need @ikayz approval on this since I'm not very sure

[2022-04-25 12:11] ikayz commented on #153
@prajwalkulkarni go ahead with this issue

[2022-04-25 12:35] ikayz commented on #34
@ORKO06 what @yochannah has elaborated is the idea behind this issue

[2022-04-25 17:52] prajwalkulkarni commented on #153
@ikayz @padmajabhol @yochannah , I've linked a PR that adds the apple-touch-icon, I've also removed extraneous non-code content from `Contact.js` that came from PR#125, apart from that there was also a linting error about the component being an arrow function, I've addressed and fixed that as well(as the latter two changes did not involve many changes, I've added them to this commit). Kindly revie

[2022-04-26 17:46] ORKO06 commented on #34
Okay, I am currently having my exams. After a week they will end, then I will start working on this issue.

[2022-04-26 17:47] #66 closed, assigned to ORKO06

[2022-05-06 09:23] #153 closed, assigned to nobody

[2022-05-06 11:04] #150 closed, assigned to Rishabhk06

[2022-05-08 09:55] oneknucklehead opened #157 "Contact page errors"
Thank you for taking the time to file a Bug report.

**Describe the bug**
The contact page currently shows the following errors:
![Screenshot 2022-05-08 152420](https://user-images.githubusercontent.com/75200954/167291016-eb201c7d-3b28-43da-9cd7-ae839c24da53.jpg)

I believe some parts of the contact page needs clean up
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'http://localhost:3

[2022-05-09 08:33] padmajabhol commented on #157
I'm afraid it's not the only page throwing console errors right now, could you like to take this up?

[2022-05-09 08:33] #133 closed, assigned to CoderS2020

[2022-05-09 08:34] #132 closed, assigned to CoderS2020

[2022-05-09 08:34] #102 closed, assigned to oneknucklehead

[2022-05-09 08:34] #92 closed, assigned to nobody

[2022-05-09 08:35] #69 closed, assigned to nobody

[2022-05-09 08:36] padmajabhol commented on #68
#126

[2022-05-09 12:52] oneknucklehead commented on #157
Yeah sure!

[2022-05-10 11:06] dikshashukla455 commented on #129
hi  @padmajabhol, I have resent the pull request which has no merge conflicts. Kindly review it. Thank you

[2022-05-10 16:59] prajwalkulkarni opened #159 "No line break after title in manifesto section card"
Thank you for taking the time to file a Bug report.

**Describe the bug**
On the manifesto page's "I want to express my support for the manifesto" sections, of the 3 cards, one of the cards is missing a line break after the title or the hyperlink. In the remaining two cards, either the title/link is missing or the content is missing.  This is resulting in a non-uniform interface. Firstly, the line

[2022-05-10 16:59] prajwalkulkarni commented on #159
@padmajabhol, May I work on this?

[2022-05-11 14:00] #68 closed, assigned to nobody

[2022-05-11 14:03] padmajabhol commented on #159
Sure, if you need help coming up with an apt description for the first card, reach out on the slack channel.

[2022-05-11 17:10] prajwalkulkarni commented on #159
Thanks. Sure, I will DM on slack now.

[2022-05-12 09:38] oneknucklehead opened #160 "Autocomplete input fields"
Thank you for taking the time to file a Bug report.

**Describe the bug**
Currently the console shows that some of the input fields need an autocomplete attribute.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '/login' or'/signup
2. Right Click anywhere on the screen
3. click on inspect element
4. see the errors in the console section

**Screenshots**

![Screenshot 2022-05-12 150759

[2022-05-17 08:42] padmajabhol commented on #160
Thanks for pointing this out.

[2022-06-13 10:57] padmajabhol opened #162 "Restructure project directory"
We can restructure the current directory in the following way:
[code]

[2022-06-13 20:38] ikayz commented on #162
@padmajabhol looks good. I presume this is part of what you'll do this week?

[2022-06-13 21:10] padmajabhol commented on #162
@ikayz yes!

[2022-06-16 18:54] padmajabhol opened #164 "Move website content to config folder, use cloudinary for storing assets"

[2022-06-19 08:50] #162 closed, assigned to padmajabhol

[2022-06-21 09:33] padmajabhol opened #166 "Remove react bootstrap for landing page, navbar and footer."
Class based components, css dependecies have to be removed from the above mentioned components.

[2022-06-21 09:33] #164 closed, assigned to padmajabhol

[2022-06-27 19:25] padmajabhol opened #169 "Create Login/Signup page"
We can move the Login/Signup component to a single page with a revamped UI that goes with the website theme.

![Screenshot from 2022-06-28 00-47-02](https://user-images.githubusercontent.com/75530516/176019864-cff6adee-cc03-4d1e-bc65-4882c307a693.png)

[2022-06-27 21:09] ikayz commented on #169
Looks good

[2022-07-07 18:14] #169 closed, assigned to padmajabhol

[2022-07-07 18:14] padmajabhol opened #174 "Create page for users to add a Journal"

[2022-07-19 19:31] padmajabhol commented on #174
@inutano

[2022-07-21 16:19] padmajabhol opened #176 "Create page to display indiviual journal and their policies"
Figma prototype for the planned component:
![MacBook Pro 14_ - 5 (2)](https://user-images.githubusercontent.com/75530516/180264131-d87bc056-fa6e-4977-9822-89fc0f798dc7.png)

[2022-08-02 04:13] #176 closed, assigned to padmajabhol

[2022-08-04 03:00] sanjayk0508 opened #180 "The navbar content is on extreme left"
Content is on extreme left in hamburger menu (mobile view) Navbar content should be centered

[2022-08-09 10:36] padmajabhol opened #182 "Create component to edit and delete a journal"

[2022-08-09 11:07] adityabhattad2021 commented on #182
Can you share a URL to the live website?

[2022-08-09 20:35] padmajabhol opened #183 "Modularize react components"

[2022-08-09 20:36] padmajabhol opened #184 "Add state management"

[2022-08-10 07:57] padmajabhol opened #185 "Add search component to navbar and landing page"

[2022-08-24 15:37] #185 closed, assigned to padmajabhol

[2022-08-24 15:37] #182 closed, assigned to padmajabhol

[2022-08-24 15:40] #184 closed, assigned to padmajabhol

[2022-08-24 15:40] #174 closed, assigned to nobody

[2022-08-25 22:14] arsh331 commented on #180
Hello, I made the required changes and would like to make a pull request.

[2022-08-26 02:36] sanjayk0508 commented on #180
Hey Arsh, I don't have the authority to make a PR. I just saw an issue and informed it.

[2022-08-27 20:56] arsh331 commented on #180
Ok I see, Thank you though

[2022-09-10 08:45] vishudhiman commented on #38
hey, can I work on this??

[2022-09-10 08:46] vishudhiman commented on #166
can i work on this?

[2022-09-10 08:48] vishudhiman commented on #180
Hey, can I work on this?

[2022-10-01 16:14] #183 closed, assigned to padmajabhol

[2022-10-01 16:15] #180 closed, assigned to nobody

[2022-10-01 16:15] #166 closed, assigned to padmajabhol

[2022-10-01 16:16] #160 closed, assigned to oneknucklehead

[2022-10-01 16:16] #159 closed, assigned to prajwalkulkarni

[2022-10-01 16:16] #157 closed, assigned to oneknucklehead

[2022-10-01 16:17] #143 closed, assigned to oneknucklehead

[2022-10-01 16:17] #129 closed, assigned to dikshashukla455

[2022-10-01 16:18] #96 closed, assigned to nobody

[2022-10-01 16:18] #94 closed, assigned to roshanchatei

[2022-10-01 16:18] #81 closed, assigned to nobody

[2022-10-01 16:18] #53 closed

[2022-10-01 16:18] #39 closed

[2022-10-01 16:18] #38 closed

[2022-10-01 16:18] #37 closed

[2022-10-01 16:20] #34 closed

[2022-10-01 16:20] #33 closed

[2022-10-01 16:20] #16 closed

[2022-10-01 16:20] #15 closed

[2022-10-07 16:32] padmajabhol opened #199 "Bug: Make add journal component more responsive for smaller screens"
**Describe the bug**
Currently, the particular component is not fully responsive.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'main page'
2. Click on 'Add Journal'
3. Scroll down to 'the component and open dev tools'
4. See error

**Screenshots**
<img width="1440" alt="Screenshot 2022-10-07 at 9 58 00 PM" src="https://user-images.githubusercontent.com/75530516/194602948-d91314c1-8

[2022-10-07 16:39] padmajabhol opened #200 "Bug: make Premise section more responsive for smaller screens."
**Describe the bug**
Currently, the particular component is not fully responsive.

**To Reproduce**
1. Go to the homepage
2. Scroll down to Precise section and open dev tools

**Screenshots**
<img width="1440" alt="Screenshot 2022-10-07 at 9 58 13 PM" src="https://user-images.githubusercontent.com/75530516/194604215-ae2df987-75e9-4b60-9fbd-357e47a222d5.png">

[2022-10-07 16:44] padmajabhol opened #201 "Bug: Third grid on homepage needs to be more responsive"
**To Reproduce**
Steps to reproduce the behavior:

1. Go to homepage
2. Scroll down to third section
4. See error

**Screenshots**
<img width="1440" alt="Screenshot 2022-10-07 at 9 58 22 PM" src="https://user-images.githubusercontent.com/75530516/194605011-7d8f88f5-c4ec-464d-8721-d583a315770a.png">

[2022-10-07 16:48] Anish-Sarawgi commented on #200
Can i work on this issue?

[2022-10-07 16:51] horizenight commented on #201
Can I work on This issue ?

[2022-10-07 16:52] padmajabhol opened #202 "Feature Request: Propose better ui for profile card"
**Is your feature request related to a problem? Please describe.**
Any suggestion or implementation on how we can improve the user profile card are welcome.

This is how it looks right now:
<img width="1440" alt="Screenshot 2022-10-07 at 9 58 41 PM" src="https://user-images.githubusercontent.com/75530516/194607632-42f62b82-4d50-43d4-bb77-3d68607b62bd.png">

[2022-10-07 16:53] blyncnov commented on #200
Can I work on This issue  as well?

[2022-10-07 16:53] blyncnov commented on #199
Can I work on This issue ?

[2022-10-07 16:55] blyncnov commented on #202
Can I work on This issue ?

[2022-10-07 17:03] padmajabhol commented on #200
We are assigning just one person per issue.

[2022-10-07 17:03] padmajabhol commented on #199
I guess you have already been assigned to one. Please finish it so I can assign you to another one.

[2022-10-07 17:05] blyncnov commented on #199
Okay

[2022-10-07 17:06] padmajabhol opened #203 "Bug: Improve footer component for small screens"
Thank you for taking the time to file a Bug report.

**Describe the bug**
The footer needs to be more responsive for smaller screens.

**Screenshots**
<img width="1440" alt="Screenshot 2022-10-07 at 9 58 27 PM" src="https://user-images.githubusercontent.com/75530516/194612148-229128d7-31f3-41f6-9343-6f6328ff6331.png">

[2022-10-07 17:14] Himanshu-370 commented on #203
I can do it
assign me

[2022-10-07 17:16] adnansam110 commented on #203
Can you assign this to me please @padmajabhol

[2022-10-07 17:17] blyncnov commented on #202
i have started working on this issue

[2022-10-07 17:21] adnansam110 commented on #199
@padmajabhol Can you assign this to me please ?

[2022-10-07 17:22] padmajabhol commented on #203
Issue 199 is still unassigned, please comment there.
https://github.com/codeisscience/journal-policy-tracker-frontend/issues/199

[2022-10-07 17:28] blyncnov commented on #202
By the way, can you provide me with mock data a user profile is going to have

e.g A user will have the :

1. Full name
2. Username
3.  Email
4. Phone Number

can you give me other information to be added?

[2022-10-07 17:45] padmajabhol opened #204 "Bug: adjust navbar logo for small screens"
**Describe the bug**
The current navbar is responsive for smaller screens.

[2022-10-07 17:49] gautmikhanna commented on #204
assign it to me pls

[2022-10-07 18:09] horizenight commented on #201
Please give the review :

![hacktoberfestbug1](https://user-images.githubusercontent.com/76839614/194622135-b65a4595-6991-4482-9c47-255cec4a7d95.gif)

[2022-10-07 18:31] horizenight commented on #202
The signup page has only
1. Full name
2. Username
3. Email
4. Password
Fields so only the above three would be legible!

I think it would be a great idea to enable authentication using google / GitHub. So there is better accessibility and we can also show the user profile image.

PS. I am not maintainer of this repo, so this is only a suggestion.

[2022-10-07 18:37] blyncnov commented on #202
okay, i will have the element there, so it can be added or removed later on

[2022-10-07 19:20] blyncnov commented on #202
So, I worked on the UI, and here is a preview of it below

* Large Screen
![localhost_3000_profile](https://user-images.githubusercontent.com/66668114/194637826-e84669c0-8995-41cc-a022-eef221abed1f.png)

* On Mobile
![localhost_3000_profile(iPhone X)](https://user-images.githubusercontent.com/66668114/194637829-c8f5e46e-d0e0-47ce

* Full Screen
![Screenshot 2022-10-07 at 20 16 40 (2)](https://user

[2022-10-07 19:28] blyncnov commented on #202
Pull request has been made, kindly review

[2022-10-08 23:22] hazardemircan opened #207 "Password accepts three character"
**When sign up, password should be at least 6 char but accepts 3 char**

[2022-10-08 23:22] hazardemircan commented on #207
You can assign to me i can fix it

[2022-10-08 23:27] hazardemircan opened #208 "There is no error message in Signup, if server is down"
Thank you for taking the time to file a Bug report.

*I killed the backend service and tried to sign up, there was no error message.**

[2022-10-08 23:27] hazardemircan commented on #208
You can assign to me

[2022-10-09 11:50] Himanshu-370 commented on #203
Hey @padmajabhol, can you let me know more about the issue? What improvement do you want?

[2022-10-11 14:21] #200 closed, assigned to Anish-Sarawgi

[2022-10-11 14:27] padmajabhol commented on #208
Hey @hazardemircan , thankyou for raising this, we already have an error page, feel free to use that.

[2022-10-11 17:43] hazardemircan commented on #208
@padmajabhol  Thanks, i will work on this

[2022-10-13 13:38] padmajabhol commented on #199
@adnansam110 any updates on this?

[2022-10-16 17:04] harshit-paneri opened #211 "hover effect on header button"
Hover Effect on Header Button
Type of Hover Effect : Zoom In Hover effect
Try to add file in CSS on landing page with transform function 👩🏻‍💻

[2022-10-17 14:15] harshit-paneri commented on #211
Hey @padmajabhol Can you please assign me this issue

[2022-10-18 08:44] yochannah commented on #211
hmmm, I think it might be good to see this before we promise to merge, but please do go ahead and take a stab at it, @harshit-paneri !

[2022-10-18 09:26] harshit-paneri commented on #211
I did Little zoom effect : [zoom_effect_video](https://drive.google.com/file/d/1MzPNNBIPjoTkJfct7YDXKbyWS03DL75U/view?usp=sharing)
Please check this video @yochannah

[2022-10-19 09:29] padmajabhol commented on #211
Hi @harshit-paneri, sorry for the delay and thanks for opening this, but we encourage people to help us understand what they intend to do before attempting and opening an PR. It could either be through visuals or figma representations?

[2022-10-19 09:36] harshit-paneri commented on #211
Hi @padmajabhol , I also send video with PR , you can visit it for visuals .
zoom effect : [zoom_effect_video](https://drive.google.com/file/d/1MzPNNBIPjoTkJfct7YDXKbyWS03DL75U/view?usp=sharing)

[2022-10-20 05:49] niladrix719 commented on #203
can i work on this?

[2022-10-25 16:45] #211 closed, assigned to harshit-paneri

[2022-10-25 16:52] padmajabhol commented on #208
@hazardemircan any updates on this?

[2022-10-25 16:53] padmajabhol commented on #207
any updates on this @hazardemircan ?

[2022-10-25 16:53] padmajabhol commented on #204
@gautmikhanna any updates on this?

[2022-10-25 16:54] padmajabhol commented on #203
@Himanshu-370 any updates on this?

[2022-10-25 16:54] #201 closed, assigned to horizenight

[2022-10-26 06:31] hazardemircan commented on #207
@padmajabhol sorry for delay my work was very busy i couldn't work on this. I will work on this today after work

[2022-10-26 06:33] hazardemircan commented on #208
@padmajabhol i will let you know, thanks

[2022-11-17 11:38] whyprax opened #215 "The Hamburger icon needs padding."
**Describe the bug**
While in the responsive mode, the hamburger icon doesn't have enough padding from the margins.

**Expected behavior**
The hamburger icon has equal padding to the logo.

**Benefits**
The lack of space affects the overall user experience of the app.

**Screenshots**

![Screen Shot 2022-11-17 at 16 57 16](https://user-images.githubusercontent.com/115189946/202436506-a76e251f-e1ef

[2022-11-17 11:48] whyprax commented on #215
@padmajabhol, Please review this issue and the PR made.

[2022-11-21 19:19] sudarsan2k5 commented on #199
@padmajabhol  Can I work on This issue ?